.size {
    width: 200px;
    height: 200px;
} 

.item-name{
    font-size: 25px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.item-price{
    font-size:18px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}